<div class="panel panel-default">
  <div class="panel-heading">
    <h2>{{ contact.name }}</h2>
    <div class="row">
      <div class="col-xs-6">
        <img src="{{ contact.imageUrl }}" alt="{{ contact.name }}" class="img-responsive" style="max-height: 70px;">
      </div>
      <div class="col-xs-6 text-right">
        <a routerLink="edit" class="btn btn-primary" style="margin-right: 5px; cursor: pointer;">Edit</a>
        <a (click)="onDelete()" style="cursor: pointer;" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <p><strong>Email:</strong> {{ contact.email }}</p>
    <p><strong>Phone:</strong> {{ contact.phone }}</p>
  </div>
</div>